.fab-icon {
  position: fixed !important;
  top: 90%;
  left: 90%;
  background-color: #607d8b !important;
}

@media screen and (max-width: 600px) {
  .fab-icon {
    position: fixed !important;
    top: 85%;
    left: 80%;
    background-color: #607d8b !important;
  }
}
